<%- include('partials/header') %>
<div class="container">
  <div class="viewBlog-header">
    <h1 class="title text-left"><%= blogDetails.title %></h1>
    <a href="/edit/<%= blogDetails.id %>" class="edit-btn">Edit</a>
  </div>
  <div class="overflow-div">
    <% if (blogDetails.image) { %>
      <img src="<%= blogDetails.image %>" alt="Blog Image" style="max-width: 100%; height: auto;" />
    <% } %>
    <p><%= blogDetails.description %></p>
  </div>
</div>
<%- include('partials/footer') %>